<div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav class="uk-navbar">
    <a href="" class="uk-navbar-brand">1</a>
    <ul class="uk-navbar-nav">2</ul>
    <div class="uk-navbar-content">3</div>
    <div class="uk-navbar-content uk-navbar-center">4</div>
    <a href="" class="uk-navbar-toggle"></a>
</nav>
<div class="uk-button-group">
    <a class="uk-button" href="">Test</a>
    <button class="uk-button">Test2</button>
    <button class="uk-button">Test3</button>
</div>
</div>
