
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="section">
    <div class="container">
      <h1 class="title">
        Welcome to The IGUS app!
      </h1>
      <p class="subtitle">
        IGUS stands for Instagram User Share <strong>Yay!</strong>!
      </p>
    </div>
    <a class="button is-focused">Focus</a>
<a class="button is-primary is-focused">Focus</a>
<a class="button is-link is-focused">Focus</a>
<a class="button is-info is-focused">Focus</a>
<a class="button is-success is-focused">Focus</a>
<a class="button is-warning is-focused">Focus</a>
<a class="button is-danger is-focused">Focus</a>
  </section>